html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-image: url(./k.gif);
    background-size: 100% auto;
    background-position: top center;
}

* {
    box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}